export SESSION_SECRET='this string should be kept secret, lol'
export PORT=9002
export URL=http://localhost:9002
export ADMIN_USERNAME=admin
export ADMIN_PASSWORD=lol
export DB_NAME=freeprogress
export DB_USER=postgres
export DB_PASS=lol
export DB_HOST=localhost
export DB_PORT=5432
export DB_PREFIX=_fp_
export AWS_ACCESS_KEY=LOL
export AWS_SECRET_KEY=kthx
export AWS_S3_BUCKET=s3.yourdomain.org
export AWS_S3_FOLDER=images/freeprogress
export TWITTER_ACCOUNT_ID=12345
export TWITTER_USERNAME=rubbingalcohol
export TEST_VIABILITY_THRESHOLD=20
export DOMAIN_SECURITY=on
export DOMAIN_SECURITY_TOKEN=drumpf
export ALERTS_SENDING=on
export ALERTS_ADMIN_EMAIL='jeff@fightforthefuture.org'
export SENDGRID_API_KEY='SG.trolol'
export ACTIONNETWORK_INTEGRATION=off
export ACTIONNETWORK_API_KEY=lol
export ACTIONNETWORK_LESS_EMAILS_TAG='3cad0181-7229-4c08-a08d-0e0759ff5abe'
export EMAIL_SCHEDULER=off
export EMAIL_FROM_ADDRESS=team@fightforthefuture.org
export EMAIL_FROM_NAME='Fight for the Future'
export EMAIL_UNSUBSCRIBE_URL='http://localhost:9084/subscription'
export SPARKPOST_API_KEY='lolwtf'
