export SESSION_SECRET='omgomgomg'
export PORT=9002
export URL=http://localhost:9002
export DB_NAME=db
export DB_USER=root
export DB_PASS=password
export DB_HOST=localhost
export DB_PORT=5432
export DB_PREFIX=_fp_
export AWS_ACCESS_KEY=ack
export AWS_SECRET_KEY=secret_lol
export AWS_S3_BUCKET=my.bucket.org
export AWS_S3_FOLDER=images/freeprogress
export TWITTER_ACCOUNT_ID=1234
export TWITTER_USERNAME=realdonaldtrump
export TEST_VIABILITY_THRESHOLD=20
export DOMAIN_SECURITY=on
export DOMAIN_SECURITY_TOKEN=trolol
